<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi" th:replace="~{fragments/layout :: layout('Danh mục', ~{::content})}">
<body>
<div th:fragment="content">
<form class="card card-body" th:action="${item} != null ? @{'/admin/categories/' + ${item.id}} : @{/admin/categories}" method="post">
    <label class="form-label">Tên danh mục</label>
    <input class="form-control" name="name" th:value="${item != null ? item.name : ''}" required>
    <div class="mt-3"><button class="btn btn-primary" data-loading>Lưu</button></div>
</form>
</div>
</body>
</html>